.adverts-list {
    display: flex;
    flex-basis: min-content;
    flex-direction: row;
    flex: 1 0 auto;
    justify-items:start;
    align-items:flex-start;
    flex-wrap: wrap;
}

.slider {
    height: 30px;
    width: 300px;
    margin: 10px 1px;
}
 