.header {
  align-items: center;
  display: flex;
}

.header-logo {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  color: rgb(98,  189, 89);
  display: inline-flex;
  height: 64px;
  justify-content: center;
  transition: background-color 0.2s;
  width:64px;
}

.header-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header-button {
  width: 144px;
  margin-left: 10px;
}
